<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.londonsoftware.calisthenics_.calisthenics">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_new_inapp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_new_inapp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC1x1x-ohMoRpSI1VZq74d1z5Rwu9PAmLM" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.BegLevel1"
            android:label="@string/title_activity_beg_level1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.BegLevel2"
            android:label="@string/BegLevel2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.BegLevel3"
            android:label="@string/title_activity_beg_level3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.BegLevel4"
            android:label="@string/title_activity_beg_level4"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.BegLevel5"
            android:label="@string/title_activity_beg_level5"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.IntLevel1"
            android:label="@string/title_activity_int_level1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.IntLevel2"
            android:label="@string/title_activity_int_level2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.IntLevel3"
            android:label="@string/title_activity_int_level3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.IntLevel4"
            android:label="@string/title_activity_int_level4"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.IntLevel5"
            android:label="@string/title_activity_int_level5"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.AdvLevel1"
            android:label="@string/title_activity_adv_level1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.AdvLevel2"
            android:label="@string/title_activity_adv_level2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.AdvLevel3"
            android:label="@string/title_activity_adv_level3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.AdvLevel4"
            android:label="@string/title_activity_adv_level4"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.AdvLevel5"
            android:label="@string/title_activity_adv_level5"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Pullups_Exercise"
            android:label="pullups_exercise"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Dips_Exercise"
            android:label="dips_exercise"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Pushups_Exercise"
            android:label="pushups_exercise"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Core_Exercise"
            android:label="core_exercise"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Legs_Exercise"
            android:label="legs_exercise"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Muscleups_Exercise"
            android:label="muscleups_exercise"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Humanflag_Exercise"
            android:label="humanflag_exercise"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Levers_Exercise"
            android:label="levers_exercise"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Handstands_Exercise"
            android:label="handstands_exercise"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Planche_Exercise"
            android:label="planche_exercise"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Normal_Pullup"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Normal_Chinup"
            android:label="chinuppullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Normal_Closegrip_Pull"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Normal_Closegrip_Chin"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Widegrip_Pull"
            android:label="chinuppullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Widegrip_Chin"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Bandpulls"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Deadhang"
            android:label="chinuppullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Isometrics"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Aussie"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Negative"
            android:label="chinuppullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Neutral"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Commando"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Highpull"
            android:label="chinuppullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Behindtheneck"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Typewriters"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Archer"
            android:label="chinuppullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Clapping"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Lsit_Chinup"
            android:label="chinuppullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Scapula"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Weightedpulls"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Onearm"
            android:label="chinuppullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Ringpulls"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_PushUp"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Situps"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Romantwists"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Plank"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Barkneeraises"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Squats"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Lunges"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Jumpingsquats"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Jumpinglunges"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Sidesquats"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Sideplank"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Foamroll"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Widepushup"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_FloorLegRaises"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Wallsit"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Bulgarian"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_KneePushups"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_ClosePosition"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Diamond_Pushups"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Spiderman_Pushups"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Straightbar_Pushups"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Russian_Pushups"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Hindu_Pushups"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Clapping_Pushups"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Pike_Pushups"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Raised_Pike_Pushups"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Paral_Pushups"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Weighted_Pushups"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Archer_Pushups"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Slow_Pushups"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Raised_Decline_Pushups"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Pseudo"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Tuckedplanche_pushups"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Handstand_Pushups"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Planche_Pushups"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Ringpushups"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Dips"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Benchdips"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_SB_Dips"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Russian_Dips"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_SlowDips"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_ImpossibleDips"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Trans_Dips"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Korean_Dips"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Weighted_Dips"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Ring_Dips"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Bar_Legraises"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Side_Kneeraises"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Hollowholds"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Toestobar"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Lsit"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Ab_Rollouts"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Vsit"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Dragonflags"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Weighted_Squats"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Weighted_Lunges"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Broadjumps"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Assisted_Pistolsquats"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Pistolsquats"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_GHR"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_BoxJumps"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Normal_Muscleups"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Banded_Muscleup"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Slow_Muscleup"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Closegrip_Muscleup"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Widegrip_Muscleup"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Xgrip_Muscleup"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Lsit_Muscleup"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Ring_Muscleup"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Weighted_Muscleup"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_HumanFlag"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Kneetuck_Flag"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Negative_Flag"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Flag_Pullups"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Frontlever"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Backlever"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Frontlever_Kneetucks"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Backlever_Kneetucks"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Banded_Levers"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Kneetuck_Raises"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Oneleg_frontlever"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Icecream_Makers"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Straddle_Levers"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Lever_Pullups"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Handstands_Floor_Var"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Wall_Handstands"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Tigerbend_Handstands"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_NinetyDeg_Handstand"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Planche"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Straddle_Planche"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Planche_Tucks"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Maltese"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Windshield_Wipers"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_FrontSquats"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_GluteBridges"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Oneleg_Glutebridges"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Calfraises"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Oneleg_CalfRaises"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_Onearm_Pushups"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_SkullCrushers"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Youtube_BackExtensions"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Fitnessprograms_Disclaimer"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.biceps_mobility"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.triceps_mobility"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.pectorals_mobility"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.shoulders_mobility"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.scapula_mobility"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.lats_mobility"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.neck_mobility"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.abdominals_mobility"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.quads_mobility"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.hamstrings_mobility"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.calves_mobility"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.glutes_mobility"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Vegan_Protein_Sources"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Herbal_Powders"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Hemp_Powder"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Pumpkin_Seed_Powder"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Chia_Seed_Powder"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Pea_Protein_Powder"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Rice_Protein_Powder"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Walnut_Flour"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Herbal_Teas"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.BMI_Calculator"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Spirilunia"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Chlorella"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Wheat_Grass"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Barley_Grass"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Cacao"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Milk_Thistle"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Acerola_Cherry"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Siberian_Ginseng"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Black_maca"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Dong_Quai"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Purpose_root"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Ginkgo"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Maitake_Mushroom"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Nettle_Root"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Ashwaghanda"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Neem"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Shatvari"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Triphala"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Peppermint_Tea"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Damiana"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Dandelion"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Chamomile"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Elderberry"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Velarian"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Lemon_Ver"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Liqurice"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Matcha"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Pau"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Raspberry"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Hemp_Leaf"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Hawthorn_Berries"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Hibiscus"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.Lavender"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.MyJourneyClass"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics_.calisthenics.NewNoteActivity"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />


    </application>

</manifest>