<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.londonsoftware.calisthenics.thecalisthenicsblueprint">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_new_inapp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_new_inapp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC1x1x-ohMoRpSI1VZq74d1z5Rwu9PAmLM" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.MainActivity"

            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>




        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.BegLevel1"
            android:label="@string/title_activity_beg_level1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.BegLevel2"
            android:label="@string/BegLevel2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.BegLevel3"
            android:label="@string/title_activity_beg_level3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.BegLevel4"
            android:label="@string/title_activity_beg_level4"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.BegLevel5"
            android:label="@string/title_activity_beg_level5"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.IntLevel1"
            android:label="@string/title_activity_int_level1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.IntLevel2"
            android:label="@string/title_activity_int_level2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.IntLevel3"
            android:label="@string/title_activity_int_level3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.IntLevel4"
            android:label="@string/title_activity_int_level4"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.IntLevel5"
            android:label="@string/title_activity_int_level5"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.AdvLevel1"
            android:label="@string/title_activity_adv_level1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.AdvLevel2"
            android:label="@string/title_activity_adv_level2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.AdvLevel3"
            android:label="@string/title_activity_adv_level3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.AdvLevel4"
            android:label="@string/title_activity_adv_level4"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.AdvLevel5"
            android:label="@string/title_activity_adv_level5"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Pullups_Exercise"
            android:label="pullups_exercise"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Dips_Exercise"
            android:label="dips_exercise"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Pushups_Exercise"
            android:label="pushups_exercise"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Core_Exercise"
            android:label="core_exercise"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Legs_Exercise"
            android:label="legs_exercise"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Muscleups_Exercise"
            android:label="muscleups_exercise"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Humanflag_Exercise"
            android:label="humanflag_exercise"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Levers_Exercise"
            android:label="levers_exercise"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Handstands_Exercise"
            android:label="handstands_exercise"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Planche_Exercise"
            android:label="planche_exercise"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Normal_Pullup"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Normal_Chinup"
            android:label="chinuppullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Normal_Closegrip_Pull"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Normal_Closegrip_Chin"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Widegrip_Pull"
            android:label="chinuppullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Widegrip_Chin"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Bandpulls"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Deadhang"
            android:label="chinuppullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Isometrics"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Aussie"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Negative"
            android:label="chinuppullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Neutral"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Commando"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Highpull"
            android:label="chinuppullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Behindtheneck"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Typewriters"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Archer"
            android:label="chinuppullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Clapping"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Lsit_Chinup"
            android:label="chinuppullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Scapula"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Weightedpulls"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Onearm"
            android:label="chinuppullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Ringpulls"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_PushUp"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Situps"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Romantwists"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Plank"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Barkneeraises"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Squats"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Lunges"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Jumpingsquats"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Jumpinglunges"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Sidesquats"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Sideplank"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Foamroll"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Widepushup"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_FloorLegRaises"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Wallsit"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Bulgarian"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_KneePushups"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_ClosePosition"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Diamond_Pushups"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Spiderman_Pushups"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Straightbar_Pushups"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Russian_Pushups"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Hindu_Pushups"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Clapping_Pushups"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Pike_Pushups"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Raised_Pike_Pushups"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Paral_Pushups"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Weighted_Pushups"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Archer_Pushups"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Slow_Pushups"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Raised_Decline_Pushups"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Pseudo"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Tuckedplanche_pushups"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Handstand_Pushups"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Planche_Pushups"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Ringpushups"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Dips"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Benchdips"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_SB_Dips"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Russian_Dips"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_SlowDips"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_ImpossibleDips"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Trans_Dips"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Korean_Dips"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Weighted_Dips"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Ring_Dips"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Bar_Legraises"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Side_Kneeraises"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Hollowholds"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Toestobar"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Lsit"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Ab_Rollouts"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Vsit"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Dragonflags"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Weighted_Squats"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Weighted_Lunges"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Broadjumps"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Assisted_Pistolsquats"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Pistolsquats"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_GHR"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_BoxJumps"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Normal_Muscleups"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Banded_Muscleup"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Slow_Muscleup"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Closegrip_Muscleup"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Widegrip_Muscleup"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Xgrip_Muscleup"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Lsit_Muscleup"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Ring_Muscleup"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Weighted_Muscleup"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_HumanFlag"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Kneetuck_Flag"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Negative_Flag"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Flag_Pullups"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Frontlever"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Backlever"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Frontlever_Kneetucks"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Backlever_Kneetucks"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Banded_Levers"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Kneetuck_Raises"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Oneleg_frontlever"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Icecream_Makers"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Straddle_Levers"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Lever_Pullups"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Handstands_Floor_Var"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Wall_Handstands"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Tigerbend_Handstands"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_NinetyDeg_Handstand"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Planche"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Straddle_Planche"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Planche_Tucks"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Maltese"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Windshield_Wipers"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_FrontSquats"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_GluteBridges"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Oneleg_Glutebridges"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Calfraises"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Oneleg_CalfRaises"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_Onearm_Pushups"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_SkullCrushers"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Youtube_BackExtensions"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Fitnessprograms_Disclaimer"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.biceps_mobility"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.triceps_mobility"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.pectorals_mobility"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.shoulders_mobility"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.scapula_mobility"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.lats_mobility"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.neck_mobility"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.abdominals_mobility"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.quads_mobility"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.hamstrings_mobility"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.calves_mobility"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.glutes_mobility"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Vegan_Protein_Sources"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Herbal_Powders"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Hemp_Powder"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Pumpkin_Seed_Powder"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Chia_Seed_Powder"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Pea_Protein_Powder"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Rice_Protein_Powder"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Walnut_Flour"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Herbal_Teas"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.BMI_Calculator"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Spirilunia"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Chlorella"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Wheat_Grass"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Barley_Grass"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Cacao"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Milk_Thistle"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Acerola_Cherry"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Siberian_Ginseng"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Black_maca"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Dong_Quai"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Purpose_root"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Ginkgo"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Maitake_Mushroom"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Nettle_Root"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Ashwaghanda"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Neem"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Shatvari"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Triphala"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Peppermint_Tea"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Damiana"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Dandelion"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Chamomile"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Elderberry"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Velarian"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Lemon_Ver"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Liqurice"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Matcha"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Pau"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Raspberry"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Hemp_Leaf"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Hawthorn_Berries"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Hibiscus"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.Lavender"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.MyJourneyClass"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.londonsoftware.calisthenics.thecalisthenicsblueprint.NewNoteActivity"
            android:label="normalpullup"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>